{
  "apiVersion": "v1",
  "kind": "ConfigMap",
  "metadata": {
    "name": "api-env",
    "namespace": "d-sanf-app"
  },
  "data": {
    "PHP_OPCACHE_VALIDATE_TIMESTAMPS": "1",
    "PHP_OPCACHE_MAX_ACCELERATED_FILES": "4000",
    "PHP_OPCACHE_MEMORY_CONSUMPTION": "128",
    "APP_CLIENT_ID": "",
    "APP_CLIENT_SECRET": "",
    "APP_DEBUG": "true",
    "APP_ENV": "local",
    "APP_KEY": "",
    "APP_NAME": "SANFInd",
    "APP_PORT": "8080",
    "APP_URL": "http:localhost/",
    "AUTH_ACTIVATION_URL": "http://localhost.nbsdev.io/pages/activation",
    "AUTH_EMAIL_VERIFY_URL": "http://localhost.nbsdev.io/pages/verify-email",
    "AUTH_RESET_PASS_URL": "http://localhost.nbsdev.io/pages/reset-password",
    "CACHE_DRIVER": "database",
    "CALLBACK_CLIENT_SECRET": "",
    "CORE_H2H_CLIENT_ID": "",
    "CORE_H2H_CLIENT_SECRET": "",
    "DB_CONNECTION": "pgsql",
    "DB_DATABASE": "",
    "DB_HOST": "",
    "DB_PASSWORD": "",
    "DB_PORT": "5432",
    "DB_SCHEMA": "sa",
    "DB_USERNAME": "",
    "FILESYSTEM_DRIVER": "local",
    "FIREBASE_SA_FILE": "firebase.json",
    "GUZZLE_LOGGER": "true",
    "HTTP_LOGGER": "true",
    "JWT_APPLE_AUDIENCE": "",
    "JWT_GOOGLE_AUDIENCE": "",
    "JWT_ISSUER": "",
    "JWT_REFRESH_TTL": "",
    "JWT_SECRET": "",
    "JWT_TTL": "20160",
    "LOG_CHANNEL": "stack",
    "LOG_LEVEL": "debug",
    "LOG_SLACK_WEBHOOK_URL": "",
    "MAIL_DRIVER": "smtp",
    "MAIL_ENCRYPTION": "tls",
    "MAIL_FROM_ADDRESS": "",
    "MAIL_FROM_NAME": "",
    "MAIL_HOST": "",
    "MAIL_PASSWORD": "",
    "MAIL_PORT": "",
    "MAIL_TO_ADMIN": ",
    "MAIL_TO_CUSTOMER_SERVICE": "",
    "MAIL_TO_IT_HELPDESK": "",
    "MAIL_TO_MARKETING": "",
    "MAIL_TO_SERVICE": "",
    "MAIL_USERNAME": "",
    "MINIO_ACCESS_KEY_ID": "",
    "MINIO_BUCKET": "",
    "MINIO_ENDPOINT": "",
    "MINIO_SECRET_ACCESS_KEY": "",
    "QUEUE_CONNECTION": "database",
    "REDIS_HOST": "127.0.0.1",
    "REDIS_PASSWORD": "null",
    "REDIS_PORT": "6379",
    "SANF_INTERNAL_CLIENT_ID": "",
    "SANF_INTERNAL_URL": "",
    "SCANINA_API_CLIENT_ID": "",
    "SCANINA_API_SECRET_ID": "",
    "SCANINA_API_URL": "",
    "SCANINA_MAIL_RECIPIENT": "",
    "SENTRY_ENVIRONMENT": "",
    "SENTRY_LARAVEL_DSN": "",
    "SENTRY_RELEASE": "",
    "SENTRY_SAMPLE_RATE": "0.2",
    "SENTRY_TRACES_SAMPLE_RATE": "1.0",
    "SESSION_DRIVER": "file",
    "SESSION_LIFETIME": "120",
    "TEKENAJA_INTERNAL_CLIENT_ID": "",
    "TEKENAJA_INTERNAL_URL": ""
  }
}
