!.env.example

.env.*
.env
.idea/
.phpunit.result.cache
.php-cs-fixer.cache
.vscode/
Homestead.json
Homestead.yaml
vendor/
xdebug/

supervisord*
.cache/

docker-compose.prod.yml

*.sql
*.backup

*.postman_collection.json

setup-local.sh
